# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

Sentry/


# Python packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# ==========================
# Model weights
# ==========================
*.pt
*.pth
*.ckpt
*.onnx

# ==========================
# Output files
# ==========================
reid_output*.mp4
reid_*/
*.pkl
*.log

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.swp
*.swo

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db